.panel_content.dark
{
    background: #252525;
}

.panel_input.dark
{
    background: #373737;
    color: #ffffff;
}
.suggest_response.dark
{
    background: #252525;
}
.suggest_item.dark
{
    background: #252525;
    color: #ffffff;
}
.suggest_item.dark:hover
{
    background: #373737;
}
