*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}



.window{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.window.dark
{
  background: #373737;
}


@media only screen and (max-width: 600px)
{
  *{
    font-size: 12px;
  }
}